h1, h3 {
    text-align: center;
}
body {
    background-color: rgb(80, 131, 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.gap {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.resultadobandera {
    display: flex;
    align-items: center;
    }
.filapartido {
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: space-between;
    background-color: aqua;
    border: 2px;
    border-color: black;
    white-space: nowrap;
}
.englobar {
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.sticky {
    position: fixed;
    right: 30px;
    top: 100px;

}
button {
    width: 30px;
}
.separacion {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 20px;
}
h4 {
    margin: 0%;
}
.gruposoctavos {
    display: flex;
    flex-direction: row;
}
